@import 'variables.scss';
@import 'common.scss';

/*
 *  Common Header & Footer
 */
.common {
    &-header,
    &-footer {
        color: $dark-color;
        font-size: .85rem;
    }

    &-header {
        @include slide--up(1s, 1.5s);
    }

    &-footer {
        @include slide--up(2s, 4s);
    }
}

/*
 *  Main Wrapper
 */
.main-wrapper {
    width: 100vw;
    min-height: 100vh;

    @extend .dflex;
    @extend .dflex--default;
    @extend .dflex--col;
    @extend .align--left;

    img {
        margin-bottom: 2em;
        margin-top: 2em;
        @include logo--special(1s, 1.5s);
    }

    h1 {
        font-family: graphik-bold;
        font-size: 3rem;
        @include slide--up(1.25s, 2.25s);

        span {
            letter-spacing: 4px;
            &:first-child {
                color: $light-color;
                -webkit-text-stroke: 1px black;
            }
            &:last-child {
                @extend .text--primary;
            }
        }
    }

    h2 {
        letter-spacing: 1px;
        font-size: 1.5rem;
        @include slide--up(1.5s, 3.5s);
    }

    .content {
        padding: 2rem;
        @include slide--up(1.75s, 3.75s);    
    }
}